/* tasks:
1. html and css should contain comments
2. organize class elements
*/

body{
    background-color: rgb(180, 180, 180);
}

.wrapper{
    background-color: rgb(220, 220, 220);
    width: 600px;
    margin: auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}

main{
    margin: 10px;
    padding-top: 200px;
}

/* header stuff */
header{
    position: fixed;
}

.header-info{
    position: relative;
}
.header-info img{
    width: 600px;
}
h1{
    color: white;
    position: absolute;
    top: 33%;
    left:38%;
}

/* nav stuff */
nav{
    position: absolute;
    background-color: rgb(220, 220, 220);
    top: 85%;
}
nav li{
    display: inline-block;
    margin: 0 68px;
}
a:link{
    text-decoration: none;
    color: black;
}

/* story */
.story-text img{
    float:left;
    width: 150px;
    margin-right: 10px;
}
.facts{
    clear: left;
}
.facts ul{
    padding: 0;
    margin-left: 10px;
}

/* form */
.contact-form{
    border:1px solid black;
    padding: 10px 0;
    padding-right: 10px;
}
.contact-form div{
    margin: 10px;
}
#fullname, #email, #message{
    width:100%;
    border: none;
    border: 1px solid rgb(180, 180, 180);
}
.contact-button{
    font-size: xx-small;
    padding: 10px;
    background-color: rgb(220, 220, 220);
    border: none;
    border: 1px solid black;
}

footer{
    text-align: right;
    padding-bottom: 10px;
    padding-right: 30px;
}

.newpagetext{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: larger;
    padding-top: 300px;
    padding-bottom: 100px;
}