/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of css reset code */


/* --- mobile version --- */
/* general */
body{
    font-family: "Open Sans", sans-serif;
}
p{
    line-height: 1rem;
    font-size: x-small;
}
h1, h2, h3{
    font-weight: bold;
}
section div, footer, main h2{
    margin: 1rem;
}
.about-us, footer{
    margin: 0;
    padding: 0 1rem;
}
.header-button, .button{
    font-size: 1.25rem;
    padding-left: 2rem;
    margin-top: 1rem;
}
.button{
    color: white;
    background-color: #222;
}
.fa-caret-right{
    font-size: 1.5rem;
    padding: 1.5rem;
}

/* header stuff */
.welcome{
    position: relative;
}
img{
    width: 100%;
}
.welcome-overlay{
    color: white;
    background-color: #22222299;
    position: absolute;
    transform: translate(0, -107%);
    padding: 2rem 1rem;
    padding-bottom: 1rem;
}
.header-button{
    color: #222;
    background-color: #c78c06;
    border: none;
}
.logo{
    margin: 1rem;
    padding-top: 1rem;
    width: 15%;
    position: absolute;
}
h1{
    font-size: 3rem;
    line-height: 4rem;
    margin-bottom: 1rem;
    padding-top: 0;
}
h2{
    font-size: 2.5rem;
    line-height: 4rem;
    padding-top: 1.5rem;
}
h3{
    font-size: 2rem;
}

/* nav stuff */
a:link{
    text-decoration: none;
    color: #c78c06;
}
#home{
    color: #222;
}
nav{
    background-color: #222;
    text-decoration: none;
    text-align: center;
    padding-top: 1rem;
}
nav li{
    margin: 1rem;
    margin-bottom: 0;
    padding-bottom: 1rem;
}
nav li:nth-child(1){
    background-color: #c78c06;
    padding-top: 8rem;
    margin-top: 0;
}
nav input{
    width: calc(100% - 3rem);
    height: 2rem;
}
nav button{
    color: #c78c06;
    background-color: transparent;
    border: 1px solid #c78c06;
    padding: 0 0.5rem;
    font-size: 1.25rem;
    height: 2rem;
    padding-bottom: 2rem;
    padding-top: 0.25rem;
}

/* section: about us */
.about-us{
    padding-top: 1rem;
    padding-bottom: 2rem;
    background-color: #ffe6ac;
}
.about-us h2{
    margin: 1rem 0;
    padding-top: 0;
}

/* section: services */
.wrapper{
    background-color: #ffe6ac;
}
.our-services h3, .our-services p{
    padding: 1rem;
}
.wrapper button{
    margin: 1rem;
    margin-top: 0;
}
.our-services h3{
    margin-top: 1rem;
}

/* section: our vision */
.our-vision{
    position: relative;
}
.our-vision img{
    height: 16rem;
    object-fit: cover;
}
.vision-overlay{
    margin-top: 1.5rem;
    position: absolute;
    transform: translate(0, -115%);
    color: white;
}
.our-vision-button{
    border: 1px solid #c78c06;
    background-color: #22222299;
}
.our-vision h3{
    margin-bottom: 1rem;
}

/* section: team */
.our-team{
    margin: 0;
}
.pic-of-john, .pic-of-bob{
    margin-bottom: 0;
}
.john-doe, .bob-rite{
    margin-top: 0;
}
h4{
    font-weight: bold;
    border-bottom: 2px solid #c78c06;
    padding: 0.5rem 0;
}
.our-team .wrapper{
    padding: 1rem;
}

/* section: contact */
.contact-us h3{
    margin: 1rem 0;
}
form div{
    margin: 1rem 0;
}
form button{
    color: #c78c06;
    background-color: #222;
    font-size: 1.5rem;
}
.contact-form input{
    height: 1.5rem;
}
#fullname, #email, #message{
    width: 100%;
}
#message{
    height: 7rem;
}
iframe{
    width: 100%;
    height: 30rem;
}
table{
    width: 100%;
}
th, td{
    border: 1px solid black;
    padding: 1rem;
}
th{
    background-color: #ffe6ac;
}
    
/* footer stuff */
footer{
    color: #c78c06;
    background-color: #222;
    padding-top: 1rem;
    font-size: small;
    padding-top: 1.25rem;
}
footer p{
    padding: 0.75rem 0;
    font-size: 1rem;
}


/* --- desktop version --- */
@media screen and (min-width: 760px){
    /* general */
    nav ul, .logo, .about-us, .welcome-overlay, .our-services, .our-team, .contact-us, footer p, .vision-overlay{
        padding: calc((100% - 1200px)/2);
        padding-top: 0;
        padding-bottom: 0;
    }
    p{
        line-height: 1.5rem;
        font-size: small;
    }

    /* header stuff */
    .welcome-overlay{
        background-clip: content-box;
        transform: translate(0, -120%);
    }
    h1, .welcome p, .welcome button{
        margin: 1rem;
    }
    h1{
        font-size: 5rem;
        line-height: 7rem;
        margin-bottom: 2rem;
        padding-top: 1.5rem;
    }
    .welcome img{
        height: 40rem;
        object-fit: cover;
    }

    /* nav stuff */
    .logo{
        width: 5rem;
        margin-left: 0;
    }
    nav{
        padding-top: 0;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        margin-left: 9rem;
        justify-content: center;
    }
    nav li{
        width: 100%;
        margin: 2rem 0;
        margin-top: 3rem;
        padding-bottom: 0;
        font-size: larger;
    }
    nav li:nth-child(1){
        padding: 1rem 0;
        margin-top: 2rem;
        width: 75%;
    }
    nav li:nth-child(6){
        margin-top: 2.5rem;
    }

    /* section: about us */
    .about-us{
        padding-top: 1rem;
        padding-bottom: 1.5rem;
    }
    .about-us h2{
        margin: 0;
    }
    .about-us img{
        float: left;
        width: 50%;
        margin-right: 1rem;
    }

    /* section: our services */
    .our-services{
        clear: left;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-column-gap: 1rem;
    }
    .our-services div{
        margin: 0.5rem 0;
    }
    .our-services h2{
        grid-column: 1 / 7;
        margin: 1rem 0;
    }
    .digital-transformation{
        grid-column: 1 / 4;
    }
    .marketing{
        grid-column: 4 / 7;
    }
    .vid-production{
        grid-column: 1 / 3;
    }
    .web-dev{
        grid-column: 3 / 5;
    }
    .print{
        grid-column: 5 / 7;
    }

    /* section: our vision */
    .vision-overlay{
        transform: translate(0, -125%);
        margin-top: 1rem;
    }

    /* section: team */
    .our-team{
        display: flex;
        flex-wrap: wrap;
    }
    .our-team div{
        margin: 0;
    }
    .our-team h2{
        flex-basis: 100%;
        margin: 1rem 0;
    }
    .pic-of-john{
        flex-basis: 50%;
    }
    .pic-of-bob{
        flex-basis: 50%;
        order: 1;
    }
    .john-doe, .bob-rite{
        flex-basis: calc(50% - 2rem);
    }

    /* section: contact */
    .contact-us{
        display: flex;
        flex-wrap: wrap;
    }
    .contact-us h2{
        margin: 1rem 0;
        flex-basis: 100%;
    }
    .contact-form{
        flex-basis: calc(50% - 1rem);
        margin-left: 0;
    }
    .location{
        flex-basis: calc(50% - 1rem);
        margin-right: 0;
    }
    .table-content{
        flex-basis: 100%;
        order: 1;
        margin: 1rem 0;
    }
    #message{
        height: 12rem;
    }

    /* footer stuff */
    footer p{
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }
}