/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of css reset code */


/* --- mobile version --- */
/* general */
body{
    font-family: "Open Sans", sans-serif;
    max-width: 1200px;
}
p{
    line-height: 1.5rem;
}
h1, h2, h3{
    font-weight: bold;
}
section div, footer, main h2{
    margin: 1rem;
}
.about-us, footer{
    margin: 0;
    padding: 0 1rem;
}
.header-button, .button{
    font-size: 1.25rem;
    padding-left: 2rem;
    margin-top: 1rem;
}
.button{
    color: white;
    background-color: #222;
}
.fa-caret-right{
    font-size: 1.5rem;
    padding: 1.5rem;
}

/* header stuff */
.welcome{
    position: relative;
}
img{
    width: 100%;
}
.welcome-overlay{
    color: white;
    background-color: #22222299;
    position: absolute;
    transform: translate(0, -115%);
    padding: 3rem 1rem;
    padding-bottom: 1rem;
}
.header-button{
    color: #222;
    background-color: #c78c06;
    border: none;
}
.logo{
    margin: 1rem;
    width: 15%;
    position: absolute;
    z-index: 1;
}
h1{
    font-size: 4.5rem;
    line-height: 6rem;
    margin-bottom: 1rem;
}
h2{
    font-size: 3rem;
    line-height: 4rem;
    padding-top: 1.5rem;
}
h3{
    font-size: 2rem;
}

/* nav stuff */
a:link{
    text-decoration: none;
    color: #c78c06;
}
#home{
    color: #222;
}
nav{
    background-color: #222;
    text-decoration: none;
    text-align: center;
    padding-top: 1rem;
}
nav li{
    margin: 1rem;
    margin-bottom: 0;
    padding-bottom: 1rem;
}
nav li:nth-child(1){
    background-color: #c78c06;
    padding-top: 10rem;
    margin-top: 0;
}
nav input{
    width: calc(100% - 3rem);
    height: 2rem;
}
nav button{
    color: #c78c06;
    background-color: transparent;
    border: 1px solid #c78c06;
    padding: 0.5rem;
    font-size: 1.25rem;
    height: 2.5rem;
}

/* section: about us */
.about-us{
    padding-top: 1rem;
    padding-bottom: 2rem;
    background-color: #ffe6ac;
}
.about-us h2{
    margin: 1rem 0;
    padding-top: 0;
}

/* section: services */
.wrapper{
    background-color: #ffe6ac;
}
.our-services h3, .our-services p{
    padding: 1rem;
}
.wrapper button{
    margin: 1rem;
    margin-top: 0;
}
.our-services h3{
    margin-top: 1rem;
}

/* section: our vision */
.our-vision-button{
    border: 1px solid #c78c06;
}

/* section: team */
.our-team{
    margin: 0;
}
.pic-of-john, .pic-of-bob{
    margin-bottom: 0;
}
.john-doe, .bob-rite{
    margin-top: 0;
}
h4{
    font-weight: bold;
    border-bottom: 2px solid #c78c06;
    padding: 0.5rem 0;
}
.our-team h3{
    margin: 0.5rem 0;
}
.our-team .wrapper{
    padding: 1rem;
}

/* section: contact */
.contact-us h3{
    margin: 1rem 0;
}
form div{
    margin: 1rem 0;
}
form button{
    color: #c78c06;
    background-color: #222;
    font-size: 1.5rem;
}
.contact-form input{
    height: 1.5rem;
}
#fullname, #email, #message{
    width: 100%;
}
#message{
    height: 7rem;
}
iframe{
    width: 100%;
    height: 30rem;
}
table{
    width: 100%;
}
th, td{
    border: 1px solid black;
    padding: 1rem;
}
th{
    background-color: #ffe6ac;
}
    
/* footer stuff */
footer{
    color: #c78c06;
    background-color: #222;
    padding-top: 1rem;
    font-size: small;
    padding-top: 1.25rem;
}
footer p{
    padding: 0.75rem 0;
    font-size: 1rem;
}


/* --- desktop version --- */
@media screen and (min-width: 760px){
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}